body{
  margin: 0%;
  background-image: url(../img/hatter.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar{
  background-color:aquamarine;
  text-align: center;
  text-decoration: none;
  height: 10%;
}
.reg{
  text-decoration: none; 
  border: olive;
  border-radius: 1%;
  background-color: azure;
  width: 5%;
  text-align: center;
}
.be{
  background-color: bisque;
  width: 20%;
  text-align: center;
}