@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-size: 12px;
	background-image: url(../img/5463473.png);
	background-size: cover;
	background-repeat: repeat;
	font-family: 'Shippori Antique B1', sans-serif;
}

.be {
	position: absolute;
	text-align: center;
}

.bejelentkezes {
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 100px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.bejelentkezes input[type=text] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.bejelentkezes input[type=password] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.bejelentkezes input[type=button] {
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}


.nsara {
	text-decoration: none;
	color: #FF0000;
}


.reggomb {
	color: rgb(194, 194, 194);
}
.reg{
margin: 10%;
}