@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Shippori Antique B1', sans-serif;
  }
  body,html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    scroll-behavior: smooth;
  }
  .bgimg-1,.bgimg-2,.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bgimg-1 {
    background-image: url('../img/hatter.jpeg');
    min-height: 100%;
  }
  .bgimg-3 {
    background-image: url("../img/ps/ps_hatterkep.jpg");
    min-height: 400px;
  }
  .w3-wide {
    letter-spacing: 10px;
  }
  .w3-hover-opacity {
    cursor: pointer;
  }
  @media only screen and (max-device-width: 1600px) {

    .bgimg-1,.bgimg-2,.bgimg-3 {
      background-attachment: scroll;
      min-height: 400px;
    }
  }
  .Hello {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .FARCRY {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .Fortnite {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  .Fortnite button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .Hello button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .FARCRY button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .Hello button:hover {
    opacity: 0.7;
  }
  .FARCRY button:hover {
    opacity: 0.7;
  }
  .kosar{
    text-align: right;
  }
.heti{
  text-align: center;
}
.backbutton{
  background-color: white;
  color: black;
  border: 1px solid;
  margin: 2px;
}
.leiras{
  float: right;
}
.osszesjatekdiv{
  height: auto;
  width: 100%;
  background-color: aqua;
}
.jatekbutton{
  border: none;
  background-color: white;
  color: #000;
  text-align: center;
}
.container{
 background-image: url(https://pixabay.com/get/g7527a48356c1b248fdf276443972ab8bcd39a9ecbc7b1c2daaa5d34dac64e2b54e10e28448a590988a4d1a228fda0336b914ab400f10b3f61cd26587478e9130d9f51689b11842733a94b49881e8ecdd_1920.jpg);
background-repeat: no-repeat;
background-size: cover;
 width: 1900px;
height: 400px;
text-align: center;
}
.box1{
  width: 250px;
  height: 200px;
  float: left;
  margin: 5% 5% 5% 8% ;
  transition: 2s;
  background-color: #000;
}
.box2{
  width: 250px;
  height: 200px;
  float: left;
  margin: 5% 5% 5% 5%  ;
  transition: 2s;
  background-color: #000;
}
.box3{
 width: 250px;
 height: 200px;
 float: left;
 margin: 5% 5% 5% 5%  ;
 transition: 2s;
 background-color: #000;
}
.box4{
 width: 250px;
 height: 200px;
 float: left;
 margin: 5% 5% 5% 5%  ;
 transition: 2s;
 background-color: #000;
}
.box5{
 width: 250px;
 height: 200px;
 float: left;
 margin: 5% 5% 5% 5%  ;
 transition: 2s;
 background-color: #000;
}

