body{
   background-image: url(https://wallpapercave.com/wp/wp2557933.jpg);
   background-size: cover; 
   margin: 0%;
}
HTML{
    text-align: center;
}

img{
    width: 300px;
    margin: 30px;
    transition: 0.5s;
}

.kép{
    float: left;
}

img:hover{
    transform: scale(1.3);
}

.content{
    width: fit-content;
    margin: auto;
}

img:hover + h2{
    font-size: xx-large;
}

h2{
    transition: 0.5s;
}
.sidebar{
    width: 100%;
    height: 10%;
    background-color: aquamarine;
    text-decoration: none;
}

