body{
    background-image: url(./img/question-mark-2492009.jpg);
    background-size: cover; 
}
.container{
    height: max-content;
    width: max-content;
    float: center;
}
 .box1{
    width: 200px;
    height: 200px;
    float: left;
    margin: 170px 80px 80px 45px;
    transition: 1s;
 }
 
 .box2{
    width: 200px;
    height: 200px;
    float: left;
    margin: 170px 80px 80px 150px;
    transition: 1s;
 }

 .box3{
   width: 200px;
   height: 200px;
   float: left;
   margin: 170px 80px 80px 150px;
   transition: 1s;
}


 .box1:hover{
    transform: scale(1.2);
    border-radius: 100px;
 }
 .box2:hover{
    transform: scale(1.2);
    border-radius: 100px;
 }

 .box3:hover{
   transform: scale(1.2);
   border-radius: 100px;
}
.szov{
   color: rgb(53, 228, 91);
   text-align: center;
}


 
